@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}
@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}

.container-win-millions {
  display: flex;
  background: linear-gradient(180deg, #0b4576 0%, #091115 100%);
  padding: 48px 0px;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: -1;
}
.balls-container img {
  max-height: 100%;
  height: auto;
}
.top-right-balls {
  top: 0;
  right: -64px;
  height: 192px;
  width: 192px;
  position: absolute;
}
.bot-left-cards {
  position: absolute;
  bottom: 0px;
  left: 0;
  height: 192px;
  width: 192px;
}
.ball-image1 {
  position: absolute;
  width: 192px;
  height: 192px;
  -webkit-animation: mover 4s infinite alternate;
  animation: mover 4s infinite alternate;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.ball-image2 {
  position: absolute;
  width: 192px;
  height: 192px;
  -webkit-animation: mover 3.5s infinite alternate;
  animation: mover 3.5s infinite alternate;
  overflow: hidden;
  overflow-clip-margin: content-box;
}
.ball-image3 {
  position: absolute;
  width: 192px;
  height: 192px;
  -webkit-animation: mover 2.5s infinite alternate;
  animation: mover 2.5s infinite alternate;
  overflow: hidden;
  overflow-clip-margin: content-box;
}
.ball-image4 {
  position: absolute;
  width: 192px;
  height: 192px;
  -webkit-animation: mover 3s infinite alternate;
  animation: mover 3s infinite alternate;
  overflow: hidden;
  overflow-clip-margin: content-box;
}
.ball-image5 {
  position: absolute;
  width: 192px;
  height: 192px;
  -webkit-animation: mover 2s infinite alternate;
  animation: mover 2s infinite alternate;
  overflow: hidden;
  overflow-clip-margin: content-box;
}

.cards-image1 {
  position: absolute;
  width: 192px;
  height: 192px;
  -webkit-animation: mover 4s infinite alternate;
  animation: mover 4s infinite alternate;

  overflow: clip;
  overflow-clip-margin: content-box;
  position: absolute;
  bottom: 0;
  left: 0;
}
.cards-image2 {
  position: absolute;
  width: 192px;
  height: 192px;
  -webkit-animation: mover 3.5s infinite alternate;
  animation: mover 3.5s infinite alternate;
  overflow: clip;
  overflow-clip-margin: content-box;
}
.cards-image3 {
  position: absolute;
  width: 192px;
  height: 192px;
  -webkit-animation: mover 2s infinite alternate;
  animation: mover 2s infinite alternate;
  overflow: hidden;
  overflow-clip-margin: content-box;
}
.cards-image4 {
  position: absolute;
  width: 192px;
  height: 192px;
  -webkit-animation: mover 3s infinite alternate;
  animation: mover 3s infinite alternate;
  overflow: clip;
  overflow-clip-margin: content-box;
}
#werw {
  fill: #1fc7d4;
}
.tabel-centru {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.inception {
  background: rgba(8, 6, 11, 0.6);
  border: 1px solid #383241;
  padding: 40px;
  border-radius: 72px;
  max-width: 968px;
  overflow: hidden;
  backdrop-filter: blur(12px);
}
.container-pred {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text-sus {
  font-weight: bolder;
  color: #f4eeff;
  font-family: Kanit, sans-serif;
  font-size: 40px;
  margin: 22px;
}
#justthecollor {
  color: #9a6aff;
}
.text-jos {
  color: #b8add2;
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
  font-family: Kanit, sans-serif;
}
.prediction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(
    0deg,
    rgba(255, 216, 0, 1) 0%,
    rgba(255, 178, 55, 1) 100%
  );
  overflow: hidden;
  position: relative;
  padding: 1px 1px 3px;
  border-radius: 24px;
  box-sizing: border-box;
  height: 375px;
  width: 300px;
  transform: rotate(-2.36deg);
  margin-right: 10px;
  margin-top: 48px;
  box-shadow: inset 0 0 5px #372f47;
}
.prediction-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.lottery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgb(60, 23, 134);
  overflow: hidden;
  position: relative;
  padding: 1px 1px 3px;
  border-radius: 24px;
  box-sizing: border-box;
  height: 375px;
  width: 300px;
  transform: rotate(0.36deg);
  margin-left: 10px;
  margin-top: 48px;
}
.lotterybutton {
  background-color: #1fc7d4;
  width: 239px;
  height: 47px;
  border-radius: 16px;
  box-shadow: rgb(14 14 44 / 40%) 0px -1px 0px 0px inset;
  border: none;
  font-size: 23px;
  font-family: sans-serif;
  cursor: pointer;
  font-weight: bold;
  color: #191326;
  padding-left: 15px;
  margin-left: 26px;
  margin-top: 10px;
  letter-spacing: 0.03em;
  line-height: 1;
  opacity: 1;
}
.svglottery {
  position: absolute;
  top: 24px;
  right: 24px;
}
#svgpred {
  fill: #fff;
}
#opq {
  color: rgb(40, 13, 95);
  font-weight: 600;
  line-height: 1.5;
  margin-left: 10px;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}
#opqr {
  color: rgb(40, 13, 95);
  font-size: 40px;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 10px;
  font-weight: 600;
  line-height: 1.1;
  font-family: Kanit, sans-serif;
  -webkit-font-smoothing: antialiased;
}
#opqrs {
  color: rgb(40, 13, 95);
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 24px;
  margin-left: 10px;
  font-size: 16px;
  font-family: Kanit, sans-serif;
  -webkit-font-smoothing: antialiased;
}
#opqrst {
  color: rgb(40, 13, 95);
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 40px;
  font-size: 16px;
  margin-left: 10px;
  font-family: Kanit, sans-serif;
  -webkit-font-smoothing: antialiased;
}
#abc {
  color: #fff;
  font-weight: 600;
  line-height: 1.5;
  font-size: 16px;
  margin-left: 10px;
  font-family: Kanit, sans-serif;
  -webkit-font-smoothing: antialiased;
}
#abcd {
  font-weight: 600;
  line-height: 1.5;
  color: #ffb237;
  font-size: 40px;
  margin-left: 10px;
  font-family: Kanit, sans-serif;
  -webkit-font-smoothing: antialiased;
}
#abcde {
  color: #fff;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 24px;
  margin-left: 10px;
  font-size: 16px;
  font-family: Kanit, sans-serif;
  -webkit-font-smoothing: antialiased;
}
#abcdef {
  color: #fff;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 40px;
  margin-right: 20px;
  margin-left: 10px;
  font-size: 16px;
  font-family: Kanit, sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
.spacingstuff {
  padding-left: 15px;
}
@media screen and (min-width: 968px) {
  .text-sus {
    font-size: 40px;
  }
}
@media screen and (min-width: 852px) {
  .prediction-container {
    flex-direction: row;
  }
  .bot-left-cards {
    height: 512px;
    width: 512px;
  }
  .cards-image1,
  .cards-image2,
  .cards-image3,
  .cards-image4 {
    width: 512px;
    height: 512px;
  }
  .top-right-balls {
    height: 512px;
    width: 512px;
  }
  .ball-image1,
  .ball-image2,
  .ball-image3,
  .ball-image4,
  .ball-image5 {
    width: 412px;
    height: 412px;
  }
}
