.worldOneAndTwoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  padding: 48px 0px;
  position: relative;
}
.innerContainer {
  margin: 0px;
  width: 100%;
  max-width: 968px;
}
@media screen and (min-width: 968px) {
  .innerContainer {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}

@media screen and (min-width: 576px) {
  .innerContainer {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

@media screen and (min-width: 370px) {
  .innerContainer {
    padding-left: 24px;
    padding-right: 24px;
  }
}
