.top-part {
  color: $colors-dark-white;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-areas:
    'a d'
    'b e'
    'c f';
  gap: 16px 8px;
  background-color: $colors-dark-background;
  margin-top: 24px;
  max-width: 968px;
  font-family: Kanit, sans-serif;
}
.tinted-text {
  margin-right: 50px;
  font-size: 16px;
  font-family: Kanit, sans-serif;
  font-weight: bolder;
  margin-bottom: 0px;
  color: $colors-dark-textSubtle;
}

.full-text {
  margin-right: 50px;
  font-size: 24px;
  font-family: Kanit, sans-serif;
  margin-top: 0px;
  color: $colors-dark-text;
}
.stats {
  display: flex;
  flex-direction: column;
}
.stats-two {
  display: flex;
  flex-direction: column;
}
.one {
  grid-area: a / a / a / a;
}
.two {
  grid-area: b / b / b / b;
}

.three {
  grid-area: c / c / c / c;
}
.four {
  grid-area: d / d / d / d;
}
.five {
  grid-area: e / e / e / e;
}
.six {
  grid-area: f / f / f / f;
}
.addedBorder {
  border-left: 1px solid $colors-dark-inputSecondary;
  padding: 0px 8px;
}
@media screen and (min-width: 852px) {
  .top-part {
    grid-template-areas:
      'a b c'
      'd e f';
    gap: 32px;
    grid-template-columns: repeat(3, auto);
  }
  .addBorder2 {
    border-left: 1px solid $colors-dark-inputSecondary;
    padding: 0px 16px;
  }
  .addedBorder {
    padding: 0px 16px;
  }
  .noneBorder {
    border-left: 0px;
    padding-left: 0px;
  }
}
@media screen and (min-width: 576px) {
  .top-part {
    gap: 16px;
  }
}
