@import './tradeAnything/TradeAnything';
@import './secondPart/SecondPart';

.home-4-svg {
  position: relative;
  overflow: hidden;

  &-line {
    width: 150%;
    @include themed() {
      color: c('text');
      fill: c('home4Line');
    }
  }
}
