$lg-screen: 968px;
$md-screen: 852px;
$sm-screen: 576px;

@media (min-width: $md-screen) {
  #mainFooter-smScreens {
    display: none;
  }
}
@media (min-width: $sm-screen) and (max-width: 851px) {
  @include sm-screen-sizes();
  #mainFooter-smScreens {
    display: none;
  }
}
#logoFooter > svg {
  margin-top: 25px;
  color: rosybrown;
}
#logoFooter > svg > path:first-child {
  fill: $contrast--dark;
}
#footer a {
  text-decoration: none;
  color: $text--dark;
}

ul > li:nth-child(7) {
  width: 1.5ch;
  text-align: left;
}

ul > li {
  a {
    color: $text--dark;
  }
  #contact {
    color: $warning--dark;
  }
  .footerHeader {
    color: $secondary--dark;
    font-weight: 600;
  }
}

#mainFooterUpIcons {
  fill: $textSubtle--dark;
  @include footerGap(flex, 25px);
  margin: 30px 0;
  #telegramRegions {
    position: relative;
    #telegramRegionChannel {
      display: none;
    }
    #telegramRegionChannel {
      position: relative;
      bottom: 30px;
      a {
        color: #b8add2;
      }
    }
    &:hover #telegramRegionChannel {
      display: inline-flex;
      flex-direction: column;
      text-align: left;
      position: relative;
      line-height: 1.5;
      color: #b8add2;
    }
  }
}

#mainfooterContents {
  padding: 30px;
  display: flex;
  flex-direction: column;
  #mainfooterContentsIn {
    max-width: 1200px;
    width: 100%;
    margin-inline: auto;
  }
}
#mainFooterUp {
  display: flex;
  flex-direction: column;
  // align-items: center;
}
#mainFooterUpLinks {
  @include footerGap(flex, 0px);
  justify-content: space-between;
  // margin: 0 50px;
}

#mainFooter {
  position: relative;
  width: 100%;
  z-index: 5;
  margin-bottom: 0;
  background: $backgroundAlt--dark;
}

#lang {
  position: relative;
  &:hover {
    #langBtn {
      button {
        display: block;
      }
    }
  }

  #langEn {
    display: inline-flex;
    align-items: center;
    font-weight: 600;
    background: none;
    border: none;
    gap: 5px;
    cursor: pointer;
    color: $textSubtle--dark;

    svg {
      fill: $textSubtle--dark;
    }
  }

  #langBtn {
    position: absolute;
    z-index: 1;
    display: inline-flex;
    bottom: 30px;
    left: 0px;
    right: 20px;
    flex-direction: column;
    align-items: center;
    max-height: 290px;
    width: 250px;
    overflow-x: hidden;
    &:hover {
      display: block;
      position: absolute;
      z-index: 10;
    }
    /* width */
    &::-webkit-scrollbar {
      width: 8px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 2px rgb(88, 88, 88);
      border-radius: 2px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: $textSubtle--dark;
    }

    &::-webkit-scrollbar-button {
      height: 10px;
    }

    &:hover {
      border-radius: 20px;
      width: 160px;
      position: relative;
    }
    .languages {
      display: none;
      text-align: center;
      font-size: 16px;
      height: 200px;
      border: none;
      padding: 0 20px;

      &:hover {
        text-align: center;
        display: block;
        cursor: pointer;
        color: $textSubtle--dark;
      }

      color: $text--dark;
      background-color: $backgroundAlt--dark;
    }
  }
}
#mainFooterDown {
  @include footerGap(flex, 0px);
  margin: 40px 0px 10px;
  align-items: center;
  justify-content: space-between;
}
#downFirstCol {
  display: flex;
  align-items: center;
  gap: 20px;
  #changeColor {
    display: flex;
    place-items: center;
    width: 56px;
    height: 32px;
    border-radius: 25px;
    display: inline-flex;
    background-color: #807a90;
    &:hover {
      background-image: linear-gradient(to right, #807a90, #9a6aff);
    }
    position: relative;
    input {
      opacity: 0;
      position: absolute;
      cursor: pointer;
      width: 100%;
      height: 100%;
      z-index: 3;
    }

    #likeMoon {
      height: 26px;
      width: 26px;
      margin: 3px;
      padding: 3px;
      border-radius: 50px;
      background-color: #27262c;
      fill: #9a6aff;
    }

    #warningNo {
      position: relative;
      height: 26px;
      width: 26px;
      margin: 3px;
      fill: #27262c;
    }

    #warning {
      position: relative;
      z-index: 4;
      fill: #ffb237;
      display: none;
      height: 26px;
      width: 26px;
      margin: 3px;
      padding: 3px;
      border-radius: 50px;
      background-color: #27262c;
    }
  }
}

#buyCake {
  display: flex;
  gap: 20px;
  align-items: center;
}

#hr {
  border-bottom: 1px solid #343434;
}
#buyCakeBtn {
  @include footerGap(flex, 8px);
  border-radius: 20px;
  padding: 2px 16px 0;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  background-color: $primary--dark;
  color: $invertedContrast--dark;

  .btn-color {
    @include themed() {
      color: c('invertedContrast');
      fill: c('invertedContrast');
    }
  }

  svg {
    margin-top: 3px;
  }

  &:hover {
    background-color: #41a0a7;
  }
}
#cakePrice {
  a {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    color: $textSubtle--dark;
  }
  svg {
    &:hover {
      transition: all 0.2s ease-in-out;
      transform: scale(1.2);
    }
  }
}
@media (max-width: 575px) {
  @include sm-screen-sizes();
  #mainFooterUpLinks {
    display: flex;
    flex-direction: column;
  }
  #logoFooter {
    order: 1;
  }
  #mainfooterContents {
    display: none;
  }
  #mainFooter-smScreens {
    display: flex;
    flex-direction: column;
    #logoFooter {
      order: 1;
      margin: 20px 25px 0;
      padding-bottom: 20px;
      border-bottom: 1px solid #343434;
    }
    #mainFooterDown {
      display: flex;
      flex-direction: column;
      order: 2;
      border-bottom: 1px solid #343434;
      margin: 0 10px;
      padding: 30px 10px;
      #buyCake {
        order: 1;
        justify-content: space-between;
      }
      #downFirstCol {
        order: 2;
        gap: 20px;
        margin-top: 30px;
      }
    }
    #about,
    #help,
    #developers {
      order: 3;
      margin-left: 25px;
    }
    #mainFooterUpIcons {
      order: 4;
      padding-left: 25px;
    }
    #hr {
      order: 5;
      margin-bottom: 90px;
      margin-left: 25px;
    }
  }
  #startInSecondsMain {
    width: 100%;
    h1 {
      font-size: 30px;
      font-weight: 600;
    }
  }
}
#footer ul {
  list-style-type: none;
  line-height: 2;
  padding-left: 0;
}

.main-footer {
  .light-switch {
    background-color: $textDisabled--dark;
    &-active {
      background-color: $backgroundAlt--dark;
    }
    svg.switch-sun-icon,
    svg.switch-moon-icon {
      fill: $backgroundAlt--dark;
    }

    svg.switch-sun-icon-active {
      fill: $warning--dark;
    }

    svg.switch-moon-icon-active {
      fill: $secondary--dark;
    }
  }
}
