// MAIN MENU BUTTON STYLING
.menu-button-container {
  padding: 0;

  @include md {
    padding: 0.25rem 0;
  }

  position: relative;

  .btn-hover:hover {
    @include themed() {
      background-color: c('tertiary');
    }
    border-radius: 1rem;
  }

  .menu-button-wrapper {
    height: 100%;

    .main-button {
      a {
        display: flex;
        height: 3rem;
        font-size: 1rem;
        align-items: center;
        padding: 0 1rem;
      }

      .alt-target {
        svg {
          width: 1.25rem;
          @include themed() {
            fill: c('textSubtle');
          }
        }

        &::after {
          @include lg {
            content: '';
            @include themed() {
              background: c('success');
            }
            position: relative;
            height: 0.5rem;
            width: 0.5rem;
            border-radius: 100%;
            margin-left: 0.75rem;
            display: block;
          }
        }
      }
    }
    // mobile specific styling
    .mobile-menu-item {
      button {
        @include removeStyling;
        display: flex;
        flex-flow: column;
        text-decoration: none;
        align-items: center;
        justify-content: center;
        @include themed() {
          color: c('text-Subtle');
        }
        font-size: 0.625rem;
        height: 2.75rem;
        gap: 0.125rem;
        padding: 0.25rem 0.75rem;

        img {
          height: 1.313rem;
          width: 1.25rem;
        }
      }

      .alt-target {
        &::after {
          content: '';
          @include themed() {
            background: c('success');
          }
          position: absolute;
          height: 0.5rem;
          width: 0.5rem;
          border-radius: 100%;
          margin-left: 0.75rem;
          display: block;
          transform: translate(0.813rem, -1.125rem);
        }
      }
    }
  }

  .mobile .inner-menu {
    position: fixed;
    inset: auto auto 0px 0px;
    transform: translate(15px, -50px);
    width: calc(100vw - 32px);
  }

}

.menu-button-container:hover .inner-menu {
  visibility: visible;
}

//  INNER MENU STYLING
.inner-menu {
  position: absolute;
  border: 0.063rem solid;
  @include themed() {
    background-color: c('backgroundAlt');
    border-color: c('cardBorder');
  }
  border-radius: 1rem;
  inset: 0px auto auto 0px;
  transform: translate(0px, 56px);
  padding: 0.25rem 0rem;
  width: 280px;
  z-index: 1001;
  visibility: hidden;

  &-btn {
    a {
      align-items: center;
      border: 0px none;
      background: transparent;
      @include themed() {
        color: c('textSubtle');
      }
      font-weight: 400;
      display: flex;
      font-size: 1rem;
      height: 3rem;
      justify-content: space-between;
      outline: 0px;
      padding: 0rem 1rem;
      width: 100%;
    }

    a:hover {
      @include themed() {
        background-color: c('tertiary');
      }
    }

    .exit-link {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .exit-icon {
        align-self: center;
        flex-shrink: 0;
        width: 1.25rem;
      }
    }

    .vote-now {
      padding: 0rem 0.5rem;
      margin-left: 8px;
      line-height: 1.5;
      font-size: 0.875rem;
      border: 0.125rem solid;
      border-radius: 1rem;
      @include themed() {
        color: c('success');
        border-color: c('success');
      }
    }

    .hr-cosmetic {
      border-style: solid;
      @include themed() {
        border-color: c('cardBorder');
      }
      border-width: 0.063rem 0 0;
      margin: 0.25rem 0rem;
    }
  }

  &-btn:first-of-type {
    a {
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
    }
  }
  &-btn:last-of-type {
    a {
      border-bottom-left-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
    }
  }
}
