@import './MenuButton';
@import './SettingsButton';
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 3.5rem;
  border-bottom: 0.063rem solid;
  transform: translate3d(0px, 0px, 0px);
  padding-left: 1rem;
  padding-right: 1rem;
  @include themed() {
    color: c('textSubtle');
    background-color: c('backgroundAlt');
    border-bottom-color: c('cardBorder');
  }

  .nav-items {
    display: flex;
    height: 100%;

    &-logo {
      display: flex;
      align-items: center;
      height: 100%;

      a {
        display: flex;
      }

      img {
        flex-shrink: 0;
      }
      // desktop's logo
      &-desktop {
        min-width: 10rem;
        width: 10rem;
        display: none;
        @include themed() {
          fill: c('text');
        }
        @include lg {
          display: block;
        }
      }
      // mobile's logo
      &-mobile {
        min-width: 2rem;
        width: 2rem;
        @include lg {
          display: none;
        }
      }
    }

    &-menu {
      margin-left: 1.5rem;
      height: 100%;
      display: none;

      @include md {
        display: block;
      }

      &-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
        height: 100%;
      }
    }
  }

  .nav-options {
    height: 100%;
    display: flex;
    align-items: center;
    font-weight: 600;
    cursor: pointer;

    .simple-btn {
      width: 32px;
      height: 32px;
      padding: 0rem;
      display: inline-flex;
      line-height: 1;
      justify-content: center;
      align-items: center;
      opacity: 1;
      transition: opacity 0.2s ease 0s;
      cursor: pointer;
      border: 0px none;
      margin-right: 0.5rem;
      background-color: transparent;
      @include themed() {
        color: c('primary');
      }
      box-shadow: none;
      border-radius: 1rem;
      &:hover,
      &:focus {
        opacity: 0.6;
      }

      svg {
        @include themed() {
          fill: c('textSubtle');
        }
      }
    }

    &-price {
      display: none;
      align-items: center;
      margin-right: 0.75rem;
      height: 100%;

      @include lg {
        display: flex;
        align-items: center;
      }

      .price-icon {
        width: 1.5rem;
        margin-right: 0.5rem;
        transition: width 0.3s ease 0s;
        box-sizing: border-box;
        flex-shrink: 0;
      }

      .price-icon:hover {
        width: 28.8px;
      }
    }

    &-language {
      display: flex;
      padding: 0 0.2rem;
    }

    &-chain {
      display: inline-flex;
      align-items: center;
      margin-right: 0.5rem;
      border-radius: 16px;
      box-shadow: $shadows-inset;
      cursor: pointer;
      height: 32px;
      padding-left: 32px;
      padding-right: 8px;
      position: relative;
      @include themed() {
        background-color: c('tertiary');
        color: c('text');
      }

      &-text {
        margin-left: 0.5rem;
        margin-right: 0.25rem;
        display: none;

        @include sm {
          display: block;
        }

        .desktop-text {
          display: none;

          @include xl {
            display: block;
          }
        }

        .mobile-text {
          @include xl {
            display: none;
          }
        }
      }

      .bnb-chain-icon {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        max-height: 2rem;
        max-width: 2rem;
      }

      .down-arrow {
        flex-shrink: 0;
        align-self: center;
        @include themed() {
          fill: c('text');
        }
      }
    }

    &-wallet-connection {
      height: 2rem;
      display: inline-flex;
      position: relative;
      align-items: center;
      justify-content: center;
      padding: 0 1rem;
      border: 0px;
      border-radius: 1rem;
      box-shadow: $shadows-inset;
      cursor: pointer;
      font-size: 1rem;
      font-weight: 600;
      letter-spacing: 0.03rem;
      opacity: 1;
      transition: opacity 0.2s ease 0s;
      @include themed() {
        background-color: c('primary');
        color: c('invertedContrast');
      }

      &:hover,
      &:focus {
        opacity: 0.6;
      }

      .desktop-text {
        display: none;
        line-height: 1;
        @include md {
          display: block;
        }
      }

      .mobile-text {
        @include md {
          display: none;
        }
      }
    }
  }
}
