.nav-options-settings {
  display: flex;

  .simple-btn {
    width: 32px;
    height: 32px;
    padding: 0rem;
    display: inline-flex;
    line-height: 1;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 0.2s ease 0s;
    cursor: pointer;
    border: 0px none;
    margin-right: 0.5rem;
    background-color: transparent;
    color: $colors-dark-primary;
    box-shadow: none;
    border-radius: 1rem;
    &:hover,
    &:focus {
      opacity: 0.6;
    }
  }
}
