.mobile-nav-items {
  display: block;
  @include md {
    display: none;
  }

  &-container {
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding: 0.313rem 0.5rem 0rem 0.5rem;
    border-top: 0.063rem solid;
    z-index: 20;
    @include themed() {
      background: c('backgroundAlt');
      color: c('textSubtle');
      border-top-color: c('cardBorder');
    }

    .three-dots-svg {
      @include themed() {
        fill: c('textSubtle');
      }
    }
  }
}
