.win-millions-container {
  display: flex;
  background: linear-gradient(180deg, #0b4576 0%, #091115 100%);
  position: relative;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  padding: 48px 0px;

  .win-millions-wrapper {
    margin: 0px;
    width: 100%;
    max-width: 968px;
    min-height: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;

    @include xs {
      padding-left: 24px;
      padding-right: 24px;
    }

    @include sm {
      padding-left: 2rem;
      padding-right: 2rem;
    }

    @include lg {
      padding-top: 3rem;
      padding-bottom: 3rem;
    }

    .win-millions-assets {
      z-index: -1;
      overflow: hidden;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0px;
      left: 0px;

      .img-placeholder {
        max-height: 512px;
        visibility: hidden;
      }

      .win-millions-cards-container {
        display: flex;
        position: absolute;
        left: 0px;
        bottom: -64px;
        max-width: 192px;

        @include md {
          max-width: 100%;
        }

        .win-millions-cards-wrapper {
          position: relative;
          max-height: 512px;

          .card-yellow-left,
          .card-green,
          .card-pink,
          .card-yellow-back {
            position: absolute;
            top: 0px;
            left: 0px;
            height: 100%;

            &-img {
              max-height: 100%;
              width: auto;
            }
          }
          .card-yellow-left {
            animation: 3s ease-in-out 1s infinite normal none running balls-n2;
          }
          .card-green {
            animation: 3s ease-in-out 0.66s infinite normal none running
              balls-n4;
          }
          .card-pink {
            animation: 3s ease-in-out 0.33s infinite normal none running
              balls-n6;
          }
          .card-yellow-back {
            animation: 3s ease-in-out 0s infinite normal none running balls-n7;
          }
        }
      }

      .win-millions-balls-container {
        display: flex;
        position: absolute;
        right: 0px;
        top: -64px;
        max-width: 192px;

        @include md {
          max-width: 100%;
        }

        .win-millions-balls-wrapper {
          position: relative;
          max-height: 512px;

          .ball-n2,
          .ball-n4,
          .ball-n6,
          .ball-n7,
          .ball-n9 {
            height: 100%;
            position: absolute;
            top: 0px;
            left: 0px;

            &-img {
              max-height: 100%;
              width: auto;
            }
          }

          .ball-n2 {
            animation: 3s ease-in-out 1s infinite normal none running balls-n2;
          }
          .ball-n4 {
            animation: 3s ease-in-out 0.66s infinite normal none running
              balls-n4;
          }
          .ball-n6 {
            animation: 3s ease-in-out 0.33s infinite normal none running
              balls-n6;
          }
          .ball-n7 {
            animation: 3s ease-in-out 0s infinite normal none running balls-n7;
          }
        }
      }
    }

    .win-millions-main {
      background: rgba(8, 6, 11, 0.6);
      padding: 1rem;
      border: 0.063rem solid $colors-dark-cardBorder;
      box-sizing: border-box;
      backdrop-filter: blur(0.75rem);
      border-radius: 4.5rem;

      @include md {
        padding: 2.5rem;
      }

      &-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &-header {
          color: $colors-dark-text;
          font-weight: 600;
          line-height: 1.1;
          margin-bottom: 1.5rem;
          text-align: center;
          font-size: 2rem;

          @include lg {
            font-size: 2.5rem;
          }
          &-span {
            color: $colors-dark-secondary;
          }
        }

        &-subtext {
          color: $colors-dark-textSubtle;
          font-weight: 400;
          line-height: 1.5;
          font-size: 1rem;

          &-last {
            margin-bottom: 40px;
          }
        }
      }

      &-duo-cards {
        display: flex;
        flex-direction: column;
        max-width: 600px;
        margin: 0px auto;

        @include md {
          flex-direction: row;
        }

        .prediction,
        .lottery {
          display: flex;
          flex: 1 1 0%;
          max-width: 17.188rem;
          margin-bottom: 2rem;

          @include md {
            max-width: 100%;
            margin-right: 1.5rem;
            margin-bottom: 0px;
          }

          &-container {
            background: rgb(255, 178, 55);
            border-radius: $radii-card;
            color: $colors-dark-text;
            overflow: hidden;
            position: relative;
            padding: 0.063rem 0.063rem 0.25rem;
            height: fit-content;
            box-sizing: border-box;

            @include md {
              transform: rotate(-2.36deg);
            }
          }

          &-wrapper {
            width: 100%;
            height: 100%;
            overflow: initial;
            background: linear-gradient(
              rgb(255, 178, 55) 0%,
              rgb(255, 205, 81) 51.17%,
              rgb(255, 231, 106) 100%
            );
            border-radius: $radii-card;

            &-inner {
              padding: 1.5rem;

              .svg-wrapper {
                position: absolute;
                top: 1.5rem;
                right: 1.5rem;
                @include md {
                  transform: rotate(-2.36deg);
                }
                .prediction-svg {
                  align-self: center;
                  flex-shrink: 0;
                }
              }

              .text-wrapper {
                display: flex;
                flex-direction: column;
                margin-top: 3rem;

                &-header {
                  color: rgb(40, 13, 95);
                  font-weight: 600;
                  line-height: 1.5;
                  font-size: 1rem;
                }

                &-subheader {
                  color: rgb(40, 13, 95);
                  font-weight: 600;
                  line-height: 1.1;
                  margin-top: 0.5rem;
                  margin-bottom: 0.5rem;
                  font-size: 2rem;

                  @include lg {
                    font-size: 2.5rem;
                  }
                }

                &-subtext {
                  color: rgb(40, 13, 95);
                  font-weight: 600;
                  line-height: 1.5;
                  margin-bottom: 1.5rem;
                  font-size: 1rem;

                  &-last {
                    color: rgb(40, 13, 95);
                    font-weight: 400;
                    line-height: 1.5;
                    margin-bottom: 40px;
                    font-size: 16px;
                  }
                }
              }

              .text-wrapper-button-container {
                display: flex;
                align-items: center;
                justify-content: center;

                .text-wrapper-button-a {
                  width: 100%;
                  color: inherit;
                  text-decoration: none;

                  .button-og {
                    position: relative;
                    align-items: center;
                    border: 0px none;
                    border-radius: 1rem;
                    box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px inset;
                    cursor: pointer;
                    display: inline-flex;
                    font-family: inherit;
                    font-size: 1rem;
                    font-weight: 600;
                    justify-content: center;
                    letter-spacing: 0.03em;
                    line-height: 1;
                    opacity: 1;
                    outline: 0px;
                    transition: background-color 0.2s ease 0s,
                      opacity 0.2s ease 0s;
                    height: 3rem;
                    padding: 0rem 1.5rem;
                    background-color: $colors-dark-primary;
                    color: $colors-dark-invertedContrast;
                    width: 100%;

                    &-text {
                      color: $colors-dark-invertedContrast;
                      font-weight: 600;
                      line-height: 1.5;
                      font-size: 1rem;
                    }
                    &-svg {
                      fill: $colors-dark-invertedContrast;
                      align-self: center;
                      flex-shrink: 0;
                      margin-left: 0.25rem;
                    }
                  }
                }
              }
            }
          }
        }
        .lottery-container {
          background: rgb(60, 23, 134);

          @include md {
            transform: rotate(1.43deg);
          }
          .lottery-wrapper {
            background: linear-gradient(
              rgb(118, 69, 217) 0%,
              rgb(81, 33, 177) 100%
            );
            &-inner {
              .svg-wrapper {
                .lottery-svg {
                  fill: $colors-dark-white;
                }
              }
              .text-wrapper {
                &-header,
                &-subheader,
                &-subtext,
                &-subtext-last {
                  color: $colors-dark-white;
                }
              }
            }
          }
        }
      }
    }
  }
}

// animations

@keyframes balls-n2 {
  0% {
    transform: translate(0px);
  }
  50% {
    transform: translate(3px, 15px);
  }
  100% {
    transform: translate(0px);
  }
}

@keyframes balls-n4 {
  0% {
    transform: translate(0px);
  }
  50% {
    transform: translate(5px, 10px);
  }
  100% {
    transform: translate(0px);
  }
}

@keyframes balls-n6 {
  0% {
    transform: translate(0px);
  }
  50% {
    transform: translate(6px, 5px);
  }
  100% {
    transform: translate(0px);
  }
}

@keyframes balls-n7 {
  0% {
    transform: translate(0px);
  }
  50% {
    transform: translate(4px, 12px);
  }
  100% {
    transform: translate(0px);
  }
}
