// Imports
@import './mixins/index.scss';
@import './components/index.scss';

// GLOBAL
html {
  scroll-behavior: smooth;
}

body {
  @include themed() {
    background-color: c('background');
  }
  // overflow: overlay;
}

body:has(.requires-no-scroll) {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 8px;
  &-thumb {
    border-radius: 0.5rem;
    @include themed() {
      background: c('textSubtle');
    }
  }
  &-track {
    border-radius: 0.625rem;
    @include themed() {
      box-shadow: inset 0 0 0.313rem c('input');
    }
  }
}
