@import './home1/Home1';
@import './home2/Home2';
@import './home3/Home3';
@import './home4/Home4';
@import './worldGoRound/WorldGoRound';

.main-content {
  position: relative;
  display: flex;
  max-width: 100vw;

  &-container {
    flex-grow: 1;
    transition: margin-top 0.2s ease 0s,
      margin-left 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    transform: translate3d(0px, 0px, 0px);
    max-width: 100%;
  }
}
